.Followers {
  margin-bottom: $gutter * 4;
  
  &__card--item {
    background-color: var(--light-background-card);
    text-align: center;
    padding: $gutter;
    border-radius: $border-radius;
    margin-bottom: $gutter * 2;
  }

  &__icon {
    &--image {
      margin-right: .5em;
    }

    &--user {
      font-weight: $font-weight-bold;
    }
  }

  &__dates {
    &--number {
      display: block;
      font-weight: $font-weight-bold;
      font-size: 50px;
      color: var(--light-color-text-dark-blue);
    }

    &--description {
      text-transform: uppercase;
      letter-spacing: .4em;
    }
  }

  &__today {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: $font-weight-bold;

    &--img {
      margin-right: .4em;
    }
  }
}

.item--facebook,
.item--twitter,
.item--instagram,
.item--youtube {
  border-top: 4px solid;
}

.item--facebook {
  border-color: var(--facebook-color);
}

.item--twitter {
  border-color: var(--twitter-color);
}

.item--instagram {
  border-image: var(--instagram-color) 1;
  // border-image-slice: 1;
}

.item--youtube {
  border-top: 4px solid var(--youtube-color);
}
