.Followers {
  margin-bottom: $gutter * 4;

  @media screen and(min-width: $l) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $gutter;
  }
  
  &__card--item {
    background-color: $light-background-card;
    text-align: center;
    padding: $gutter;
    border-radius: $border-radius;
    margin-bottom: $gutter * 2;
  }

  &__icon {
    &--image {
      margin-right: .5em;
    }

    &--user {
      font-weight: $font-weight-bold;
    }
  }

  &__dates {
    &--number {
      display: block;
      font-weight: $font-weight-bold;
      font-size: 60px;
      color: $light-color-text-dark-blue;
    }

    &--description {
      text-transform: uppercase;
      letter-spacing: .4em;
    }
  }

  &__today {
    font-weight: $font-weight-bold;
    // height: 20px;
    // position: relative;

    & span img {
      // position: absolute;
      // line-height: 10px;
      // height: 30%;
      // top: 30%;
      // left: 35%;
    }
  }
}

.item--facebook {
  border-top: 4px solid $facebook-color;
}

.item--twitter {
  border-top: 4px solid $twitter-color;
}

.item--instagram {
  border-top: 4px solid;
  border-image: $instagram-color 1;
  // border-image-slice: 1;
}

.item--youtube {
  border-top: 4px solid $youtube-color;
}

.Today--up {
  color: $primary-color;
}

.Today--down {
  color: $secondary-color;
}