.Header {
  border-bottom: 1px solid var(--light-color-text-grayish-blue);
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter * 2;

  @media screen and(min-width: $l) {
    border-bottom: none;
  }

  &__title {
    color: var(--light-color-text-dark-blue);
    margin: 0 0 .3em 0;
  }

  &__description {
    margin: 0;
    font-weight: $font-weight-bold;
  }
}